/* Styles pour les images dans les cartes */
.card-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  object-fit: cover;
}

/* Styles pour les cartes elles-mêmes */
.grid.cards .card {
  text-align: center;
}

h1, h2, h3, h4, h5{
  font-weight: bold !important;
}

/* Custom de la nav */

@media (min-width: 1220px) { 
  .md-nav__item {
    position: relative;
  }
  
  .md-nav__item--section {
    padding-left: 0 !important;
  }
  
  .md-nav__item--nested .md-nav__list {
    padding-left: 13px !important;
  }
  
  .md-nav__item--nested .md-nav__list .md-nav__item {
    padding-left: 13px !important;
  }
  
  .md-nav__link--active {
    font-weight: bold !important;
  }
}
