/* Styles pour les images dans les cartes */
.card-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  object-fit: cover;
}

/* Styles pour les cartes elles-mêmes */
.grid.cards .card {
  text-align: center;
}

h1, h2, h3, h4, h5{
  font-weight: bold !important;
}